.navbar-container{
    width: 100%;
    height: 10vh;
    background-color: rgb(9, 9, 70);
    display: flex;
    justify-content: space-between;
}

.container-logo{
    width: 13%;
}

.container-logo > img{
    width: 35%;
    height: 8vh;
    padding-top: 12px;
    margin-left: 80px;
    object-fit: cover;
}

.navbar{
    width: 25%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navbar-item{
    list-style: none;
    cursor: pointer;
    padding: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 22px;
    margin-left: 5px;
    color: rgb(216, 221, 224);
    background-color: rgb(9, 9, 70);
    text-align: end;
}

.container-cart{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.counter-cart{
    position: absolute;
    top: 4%;
    right: 15%;
    width: 80px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}